#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/bananui-base prefix=/usr install

override_dh_shlibdeps:
	dh_shlibdeps -l$$(pwd)/../debroot/lib/arm-linux-gnueabihf
